@font-face {
  font-family: "Bea";
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/bea.woff2") format("woff2");
}

* {
  margin: 0;
  box-sizing: border-box;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  font-family: "Bea", "Helvetica", "Arial", sans-serif;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  overflow-y: scroll;
}

.grid {
  max-width: 1200px;
  /* min-height: 100vh; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas:
  "a a b c c d e";
  justify-content: space-between;
  padding: 40px 30px;
  align-items: baseline;
  height: 100vh;

  &.grid--fixed {
    position: fixed;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  &.grid--about {
    grid-template-rows: min-content min-content 1fr;
    grid-template-areas:
    "a a c c c d e"
    "p p c c c d e"
    "s s c c c d e";
  }

  .grid__header {
    grid-area: a;
  }

  .grid__submenu {
    grid-area: b;
  }

  .grid__content {
    grid-area: c;
    padding-top: 8px;
    position: relative;
  }

  .grid__menu {
    grid-area: e;
  }

  .grid__social {
    grid-area: s;
    align-self: flex-end;
  }

  .grid__picture {
    grid-area: p;
  }
}



@media only screen and (max-width: 1023px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 30px min-content auto;
    grid-template-areas:
    "a e"
    "b b"
    "c c";

    .grid__menu {
      min-width: 80px;
      position: sticky;
      right: 0;
    }

    .grid__content {
      align-self: end;
    }
  }
}
