.grid {
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas:
        "a a b c c d e";
    justify-content: space-between;
    padding: 40px 30px;
    align-items: baseline;
}

.grid__header {
    grid-area: a;
}

.grid__submenu {
    grid-area: b;
}

.grid__content {
    grid-area: c;
}

.grid__menu {
    grid-area: e;
}

.title {
    font-size: 30px;
}

@media only screen and (max-width: 1023px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 30px min-content auto;
        grid-template-areas:
        "a e"
        "b b"
        "c c";
    }

    .grid__menu {
        min-width: 80px;
        position: sticky;
        right: 0;
    }

    .grid__content {
        align-self: end;
    }
}