@font-face {
    font-family: "Bea";
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/bea.woff2") format("woff2");
}

* {
    margin: 0;
    box-sizing: border-box;
    font-weight: 500;
}

body {
    margin: 0;
    font-family: "Bea", "Helvetica", "Arial", sans-serif;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
}