.nav-sub {
    .nav-list {
        padding: 0;
        list-style: none;

        .nav-list {
            padding-left: 20px;
        }
    }

    .nav-sub__header {
        font-size: 30px;
    }

    .nav-item {
        color: #000;
        text-decoration: none;
        display: block;
        transition: 100ms ease-out transform;

        &:hover {
            transform: translateX(10px);
        }
    }

    @media only screen and (max-width: 1023px) {
        .nav-sub__header {
            margin: 8px 0 16px;
        }
    }
}
