@font-face {
  font-family: "Bea";
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/bea.woff2") format("woff2");
}

* {
  margin: 0;
  box-sizing: border-box;
  font-weight: 500;
}

html {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  font-family: "Bea", "Helvetica", "Arial", sans-serif;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin-bottom: 1rem;
}

h3 {
  font-size: 1rem;
  margin-left: 1rem;
}

main a:hover {
  text-decoration: underline;
}

.grid {
  max-width: 1200px;
  /* min-height: 100vh; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas:
  "a a b c c d e";
  justify-content: space-between;
  padding: 40px 30px;
  align-items: baseline;
  height: 100vh;

  &.grid--fixed {
    position: fixed;
    top: 0;
    z-index: 100;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 100%;
    pointer-events: none;

    & > * {
      pointer-events: all;
    }
  }

  &.grid--about {
    grid-template-rows: 30px min-content 1fr;
    grid-template-areas:
    "a a c c c d e"
    "p p c c c d e"
    "s s c c c d e";
  }

  .grid__header {
    grid-area: a;
  }

  .grid__submenu {
    grid-area: b;
  }

  .grid__content {
    grid-area: c;
    padding-top: 8px;
    position: relative;
  }

  .grid__menu {
    position: relative;
    grid-area: e;
  }

  .grid__social {
    grid-area: s;
    align-self: flex-end;
  }

  .grid__picture {
    grid-area: p;
  }
}

@media only screen and (max-width: 1023px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 30px min-content auto;
    grid-template-areas:
    "a e"
    "b b"
    "c c";

    &.grid--about {
      grid-template-rows: 30px min-content 1fr 50px;
      grid-template-areas:
      "a e"
      "p p"
      "c c"
      "s s";

      &.grid--fixed {
        &::before {
          content: '';
          position: fixed;
          left: 0;
          right: 0;
          top: 0;
          height: 90px;
          z-index: -1;
          background: #fff;
        }

        &::after {
          content: '';
          position: fixed;
          left: 0;
          right: 0;
          bottom: 0;
          height: 100px;
          z-index: -1;
          background: #fff;
        }
      }
    }

    &.grid--fixed {
      // position: absolute;
    }

    .grid__menu {
      position: relative;
      // min-width: 80px;
    }

    .grid__content {
      align-self: end;
    }
  }
}

// Make sure pages load in the same spot
.page-transition {
  > div {
    display: grid;

    > .transition-item {
      grid-column: 1;
      grid-row: 1;
    }
  }
}


.page-transition {
  .transition-item {
    
    &.enter {
      opacity: 0;
    }

    &.enter-active {
      opacity: 1;
      transition: opacity 400ms ease-in;
      // transition: opacity 500ms cubic-bezier(0.22, 0.61, 0.36, 1);
      // transition: opacity 500ms cubic-bezier(0.39, 0.58, 0.57, 1);
      // transition: opacity 360ms cubic-bezier(0.55, 0.06, 0.68, 0.19);
      
    }
    
    &.exit {
      opacity: 1;
    }
    
    &.exit-active {
      opacity: 0;
      transition: opacity 600ms ease-out;
      // transition: opacity 500ms cubic-bezier(0.22, 0.61, 0.36, 1);
      // transition: opacity 500ms cubic-bezier(0.39, 0.58, 0.57, 1);
      // transition: opacity 360ms cubic-bezier(0.55, 0.06, 0.68, 0.19);
    }
  }
}