.profile-pic {
  margin-top: 1rem;

  @media screen and (min-width: 1024px) {
    position: fixed;
    max-width: 250px;
  }
}

.about-main {
  position: relative;

  &::after {
    position: absolute;
    right: -1rem;
    top: 0;
    content: '';
    display: block;
    width: 1px;
    height: 370px;
    background-color: #C5C5C5;
  }

  @media screen and (max-width: 1023px) {
    margin-bottom: 120px;
  }   
}

.social {
  margin-top: 20px;
}