.nav-main {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;

    .nav__item {
        text-decoration: none;
        color: #000;
        transition: 200ms opacity ease-out;
    }

    .nav__item div {
        transition: 100ms ease-out transform;
    }

    &.nav-main--hidden {
        pointer-events: none;

        .nav__item {
            opacity: 0;
        }
    }

    &.nav-main--shown {
        .nav__item {
            opacity: 1;
        }
    }

    @media screen and (pointer: coarse) {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        align-items: center;
        justify-content: center;
        opacity: 0;
        pointer-events: none;
        transition: opacity 200ms ease-out;

        .nav__item {
            font-size: 30px;
            transition: transform 250ms ease-out, 
                        opacity 500ms cubic-bezier(0.55, 0.09, 0.68, 0.53);
        }

        &.nav-main--hidden {
            .nav__item {
                opacity: 0;
                transform: translateY(50px);
            }
        }

        &.nav-main--shown {
            opacity: 1;
            pointer-events: unset;

            .nav__item {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    @media screen and (pointer: fine) {
        .nav__item {
            &.nav__item--about {
                margin-bottom: 10px;
            }

            &:hover div {
                transform: translateX(10px);
            }
        }
    }
}
