.nav-main {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;

    .nav__item {
        text-decoration: none;
        color: #000;
        transition: 200ms opacity ease-out;
    }

    .nav__item div {
        transition: 100ms ease-out transform;
    }

    &.nav-main--hidden {
        pointer-events: none;

        .nav__item {
            opacity: 0;
        }
    }

    &.nav-main--shown {
        .nav__item {
            opacity: 1;
        }
    }

    @media screen and (max-width: 1023px) { 
        &.nav-main--shown {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #fff;
            align-items: center;
            justify-content: center;

            .nav__item {
                font-size: 30px;
            }
        }
    }

    @media screen and (min-width: 1023px) {
        .nav__item {
            &.nav__item--about {
                margin-bottom: 10px;
            }

            &:hover div {
                transform: translateX(10px);
            }
        }
    }
}
