.nav-toggle {
    appearance: none;
    border: 0;
    padding: 0;
    background: none;
    color: #000;
    font: normal 500 20px/1 "Bea", "Helvetica", "Arial", sans-serif;
    text-rendering: geometricPrecision;
    transition: 200ms opacity ease-out,
                200ms transform ease-out;

    &.nav-toggle--shown {
        opacity: 1;
        transform: translateY(0);
    }

    &.nav-toggle--hidden {
        opacity: 0;
        transform: translateY(-16px);
    }
}